<div class="container mt-4">

  <!-- header -->
  <div class="jumbotron py-4">
    <h1 class="display-5">Webtech 2 Examples</h1>
    <p class="lead mb-0">Examples for the contents of the lecture.</p>
  </div>

  <!-- navigation tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/angular" routerLinkActive="active">Angular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/auth" routerLinkActive="active">Auth</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/security" routerLinkActive="active">Security</a>
    </li>
  </ul>

  <!-- news area -->
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
