<div *ngIf="!isLoggedIn">
  <h4 class="title">Login</h4>
  <hr>
  <div class="card">
    <div class="card-body">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="useBasicAuth($event)" [class.active]="isBasicAuth()">Basic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="useSessionAuth($event)" [class.active]="isSessionAuth()">Session</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="useJwtAuth($event)" [class.active]="isJwtAuth()">JWT</a>
        </li>
      </ul>
      <hr>
      <wt2-login [authService]="authService" (loggedIn)="load()"></wt2-login>
    </div>
  </div>
</div>

<div *ngIf="isLoggedIn">
  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-sm btn-outline-secondary" (click)="logout()">Logout</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <h4 class="title">Create News</h4>
      <hr>
      <wt2-create-news-auth (created)="load()"></wt2-create-news-auth>
    </div>
    <div class="col-8">
      <h4 class="title">Latest News</h4>
      <hr>
      <wt2-news-details [news]="latest"></wt2-news-details>
      <hr>
      <h4 class="title">All News</h4>
      <hr>
      <wt2-news-list [news]="news"></wt2-news-list>
    </div>
  </div>
</div>
